/** nextflow.config for full.nf */

params { 

/** Input/Output Directory for WF */
	Input_Directory = "/project/arcc-students/nextflow/original_reads"
	output          = "/project/arcc-students/nextflow/tswaby/MetaWorkflow/MicrobialIdentificationNextflowPipeline/output"

/** Read Parameters */
	Read_1     = "${Input_Directory}/20039239_R1.fastq"
	Read_2     = "${Input_Directory}/20039239_R2.fastq" 
	longread   = "${Input_Directory}/2015long.fastq" 
	samplename = "SampleName" 

/** FastQC Parameters */
	uncompressed = "${Input_Directory}/20039239_R*.fastq"

/** Threads needed for trimming, hybrid assembly, quast, etc. */
    	Threads = "16" 

/** Trimmomatic Parameters */
  	trimmomatic = "trimmomatic"
  	adapters    = "/opt/Trimmomatic/Trimmomatic-0.39/adapters/TruSeq3-PE.fa"
	headcrop    = 10		/** HEADCROP value for Pair Ended Trimmomatic run */
	trailing    = 20		/** TRAILING value for Pair Ended Trimmomatic run */
	minlenPE    = 60		/** MINLEN value for Pair Ended Trimmomatic run */
	minlenSE    = 200		/** MINLEN value for Single Ended Trimmomatic run */ 


/** Program parameters for blastn */
	blastn  = "/pfs/tc1/project/arcc-students/bio2/bin/blastn"
	blast_result_1 = "blast_result_1"
	blast_result_2 = "blast_result_2"
	database1 = "ref_prok_rep_genomes"					/** database of reference sequences for BLAST 1 Run */
	database2 = "16S_ribosomal_RNA"						/** database of reference sequences for BLAST 2 Run */
	format1 = "6 qseqid sscinames qlen length pident bitscore"		/** output format or alignment for BLAST 1 run */
	format2 = "6 qseqid sscinames qlen length pident bitscore"		/** output format or alignment for BLAST 2 run */
	maxseqs1 = 5								/** maximum number of sequences to keep for BLAST 1 run*/
	maxseqs2 = 5								/** maximum number of sequences to keep for BLAST 2 run
	
	
/** Program parameters for fastANI */
	fastANI = "/pfs/tc1/project/arcc-students/bio2/bin/fastani"  /** for some reason shared env does not recognize fastani. this path is just a guess */
	ref_genome = "/project/arcc-students/nextflow/ref_genomes.txt"
	fastani_output_file = "fastANI_out.txt"


/** Program parameters for barrnap */
	barrnap = "/pfs/tc1/project/arcc-students/bio2/bin/barrnap"
	barrnap_output_file = "RNA.out"
	kingdom = "bac"


/** subwork flow parameters */
/**	fasta = "/project/arcc-students/sdowell1/test2/output/assembly.fasta" */
	

/** Execution params */
  	Executor        = 'slurm'
  	Cpus            = 16
  	Walltime        = '7 hours'
  	ExecutorAccount = 'arcc-students'

}

profiles {
   teton {
        process.executor        = params.Executor
        process.clusterOptions  = "-A ${params.ExecutorAccount}"
        process.cpus            = params.Cpus
        process.time            = params.Walltime
	/** process.memory      = '1500GB' */
 	process.queue           = 'moran'
  }
}

